[user]
	name = fumimaron9
	email = fumimaron9@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFQytwYHGX3A7qSIFIh36tPdAi0jbnZZ3g5nCcKUOGal fumimaron9@gmail.com ed25519
[core]
	pager = less -R
	autoCRLF = false
	safecrlf = true
	whitespace = trailing-space,space-before-tab,-indent-with-non-tab,-cr-at-eol
[color]
	ui = auto
[help]
	autocorrect = 1
[push]
	default = simple
[pager]
	log = diff-highlight | less -R
	show = diff-highlight | less -R
	diff = diff-highlight | less -R
#[commit]
#	template = /home/kinosita/.gitmessage
[apply]
  whitespace = fix
# TODO: wait keybase support sillicon
[commit]
	gpgsign = true

[gpg]
  format = ssh

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
