tap "aws/tap"
tap "argoproj/tap"
tap "teamookla/speedtest"
tap "microsoft/msstore-cli"

brew "zsh"
brew "chezmoi"
brew "sheldon"
brew "git"
brew "gh"
brew "lazygit"
brew "lefthook"
brew "gitleaks"
brew "neovim"

brew "sops"
brew "age"
brew "minisign"

brew "starship"
brew "sk"
brew "fzf"
brew "zoxide"
brew "fd"
brew "broot"
brew "bat"
brew "lsd"
brew "coreutils"
brew "wget"
brew "tree"
brew "gnu-sed"
brew "httpie"
brew "jq"
brew "yq"
brew "ripgrep"
#brew "gnu-getopt"
#brew "nkf"
#brew "tmux"
brew "parquet-cli"
brew "avro-tools"

brew "gnupg"
brew "pinentry-mac"

brew "gcc"
brew "cmake"
brew "llvm"
brew "googletest"
brew "mise"

brew "podman"
brew "awscli"
brew "postgresql@17"
brew "helm"
brew "eksctl"
brew "argo"
brew "argocd"
brew "argoproj/tap/kubectl-argo-rollouts"
brew "istioctl"
brew "watchman"
brew "mkcert"
brew "cue"
brew "dagger"
brew "teamookla/speedtest/speedtest"
brew "atlas"
brew "aws-nuke"
brew "aws/tap/eks-node-viewer"
brew "wireshark"
brew "nmap"
brew "nikto"
brew "microsoft/msstore-cli/msstore-cli"
brew "container"

{{ if or (eq .chezmoi.os "darwin") (and (eq .chezmoi.os "linux") (not (.chezmoi.kernel.osrelease | lower | contains "microsoft"))) -}}
cask "font-jetbrains-mono-nerd-font"
cask "1password"
cask "1password-cli"
cask "google-chrome"
cask "gcloud-cli"
cask "ghostty"
cask "jetbrains-toolbox"
cask "postman"
cask "postman-cli"
cask "slack"
cask "slack-cli"
cask "visual-studio-code"
cask "codex-app"
cask "antigravity"
cask "cursor"
cask "windsurf"
cask "zed"
cask "notion"
cask "displays"
cask "openvpn-connect"
cask "zoom"
cask "raindropio"
cask "zoom"
cask "discord"
cask "proxyman"
cask "ngrok"
cask "devtoys"
cask "freelens"
cask "figma"
cask "nosql-workbench"
cask "github"
cask "balenaetcher"
#cask "burp-suite"
cask "burp-suite-professional"
cask "zap"
cask "caido"
cask "wireshark-app"
#cask "firefox"
#cask "keybase"
#cask "adobe-creative-cloud"
cask "grammarly-desktop"
cask "anki"
cask "chatgpt"
cask "claude"
cask "aqua-voice"
cask "devtoys"

{{ if eq .chezmoi.os "darwin" -}}
#mas "Feedly", id: 865500966
mas "1Password 7", id: 1333542190
mas "Amazon Kindle", id: 302584613
#mas 'XCode', id: 497799835
{{ end -}}
{{ end -}}
