sudo config --enable normal

#winget configure $env:HOMEPATH\configuration.dsc.yaml --accept-configuration-agreements

sudo New-Item -ItemType SymbolicLink -Force -Path $env:LOCALAPPDATA\nvim -Value $env:HOMEPATH/.config/nvim



