Host *
  #ServerAliveInterval 60
  GSSAPIAuthentication no
{{- if eq .chezmoi.os "darwin" }}
  #AddKeysToAgent yes
  #UseKeychain yes
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
  SetEnv TERM=xterm-256color

Include ~/.ssh/config.hosts
