{{ if eq .chezmoi.os "windows" -}}
Write-Output "Hello World."

# winget configure test configuration.dsc.yaml
winget configure $HOME\.local\share\chezmoi\configuration.dsc.yaml --accept-configuration-agreements
{{- end }}
