{{ if eq .chezmoi.os "windows" -}}
# winget configure test configuration.dsc.yaml

winget configure $HOME\.local\share\chezmoi\home\configuration.dsc.yaml --accept-configuration-agreements
{{- end }}
