{
  "tools": {
    "autoAccept": false,
    "sandbox": true,
    "discoveryCommand": "",
    "callCommand": ""
  },
  "general": {
    "checkpointing": {
      "enabled": false
    },
    "preferredEditor": "vim",
    "vimMode": false,
    "previewFeatures": true,
    "sessionRetention": {
      "enabled": true,
      "maxAge": "14d",
      "maxCount": 20
    },
    "enableNotifications": true
  },
  "context": {
    "fileFiltering": {
      "respectGitIgnore": true,
      "enableRecursiveFileSearch": false
    },
    "fileName": [
      "GEMINI.md",
      "AGENTS.md"
    ],
    "includeDirectories": [
      "~/.gemini/extensions/ralph"
    ]
  },
  "ide": {
    "hasSeenNudge": true,
    "enabled": true
  },
  "ui": {
    "hideTips": true,
    "hideBanner": true,
    "theme": "Default",
    "showStatusInTitle": true,
    "showMemoryUsage": true
  },
  "model": {
    "maxSessionTurns": -1,
    "summarizeToolOutput": {}
  },
  "security": {
    "auth": {
      "selectedType": "oauth-personal"
    }
  },
  "telemetry": {
    "enabled": false,
    "target": "local",
    "otlpEndpoint": "http://localhost:4317",
    "logPrompts": true
  },
  "privacy": {
    "usageStatisticsEnabled": false
  },
  "useWriteTodos": true,
  "experimental": {
    "skills": true,
    "enableAgents": true,
    "plan": true
  }
}
